*{text-align: center;
  font-family: Cambria,Georgia,serif; }

.App {
  text-align: center;
  margin: 0px auto;
}

.star{
  margin: 10px auto;
}


.button{
  margin: 12px 0px;
  height: 1.5rem;
  border-radius: 12px;
  border: 2px solid white;
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
}